{% extends 'chat/_base.html' %}
{% block content %}
    <h2>Politicas do site</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ea reiciendis eos a quidem, quisquam quae corporis sunt accusamus sapiente ad modi eius mollitia provident ipsam voluptates? Maxime, labore tempore!</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quod aut porro error doloremque, vero quae reiciendis sit provident totam deleniti repellendus sint aliquid molestias illum voluptate. Earum, laboriosam optio!</p>
{% endblock %}